[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
tortoise-orm = {extras = ["asyncpg"], version = "*"}
spacy = "*"

[dev-packages]

[requires]
python_version = "3"
